body{
    background-color: darkblue;
    color:white;
    font-family: Livvic, sans-serif;
}

header {
    height: 250px;
        background:
            url(../images/header-bg.png) center 15px / cover no-repeat,
            #2D28EB;
    border-radius: 0px 0px 40px 40px;
}

#calendar {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc((100% / 8) - 10px);
    background-color: #2E6753;
    border-radius: 10px;
}

.last-box{
    background-color: #D5D6F5;
    color: #2E6753;
    flex-grow: 1;
}

.box img{
    height: 40px;
}